/*
	popup.css
	Copyright © 2009-2013  WOT Services Oy <info@mywot.com>

	This file is part of WOT.

	WOT is free software: you can redistribute it and/or modify it
	under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	WOT is distributed in the hope that it will be useful, but WITHOUT
	ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
	License for more details.

	You should have received a copy of the GNU General Public License
	along with WOT. If not, see <http://www.gnu.org/licenses/>.
*/

.wot-popup-layer {
    border: 1px solid #e4e4e4 !important;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2147483647;
    cursor: pointer;
    -webkit-user-select: none;
    box-shadow: 1px 1px 5px rgba(189, 189, 189, 0.45);
    background-color: white;
}

#wot-logo {
    background: url("../fusion/logo.png") top left no-repeat;
    margin: 0;
    text-align: right;
    color: #A5A4A4;
    font-size: 11px;
    padding: 5px 5px;
    background-position: 6px 6px;
    background-size: 10%;
}

.wot-ratings {
    display: block;
    margin: 0;
    padding: 0 5px 0;
    background-color: #F9F9F9;
    height: 78px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

#wot-hostname {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px 0px;
    overflow: hidden;
    font-weight: bold;
    color: #808080;
}

.wot-stack {
    display: table-cell;
    height: 50px;
    min-width: 120px;
}

.wot-stack-left {
    padding-left: 15px;
}

.wot-stack-right {
    padding: 0 15px;
}

.wot-header {
    color: #878787;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 2px 0;
    text-align: left;
    white-space: nowrap;
}

.wot-rep {
    background: url("../fusion/28_28/r0.png") left top no-repeat;
    height: 28px;
    width: 28px;
    margin: 1px 0px 0px 1px;
    padding: 0;
    float: left;
    background-size: 90%;
}

.wot-rep[reputation="rx"] {
    background-image: url("../fusion/28_28/rx.png");
}

.wot-rep[reputation="r1"] {
    background-image: url("../fusion/28_28/r1.png");
}

.wot-rep[reputation="r2"] {
    background-image: url("../fusion/28_28/r2.png");
}

.wot-rep[reputation="r3"] {
    background-image: url("../fusion/28_28/r3.png");
}

.wot-rep[reputation="r4"] {
    background-image: url("../fusion/28_28/r4.png");
}

.wot-rep[reputation="r5"] {
    background-image: url("../fusion/28_28/r5.png");
}

.wot-rep.accessible {
    background-image: url("../fusion/accessible/28_28/r0.png");
}
.wot-rep.accessible[reputation="rx"] {
    background-image: url("../fusion/28_28/rx.png");
}
.wot-rep.accessible[reputation="r1"] {
    background-image: url("../fusion/accessible/28_28/r1.png");
}
.wot-rep.accessible[reputation="r2"] {
    background-image: url("../fusion/accessible/28_28/r2.png");
}
.wot-rep.accessible[reputation="r3"] {
    background-image: url("../fusion/accessible/28_28/r3.png");
}
.wot-rep.accessible[reputation="r4"] {
    background-image: url("../fusion/accessible/28_28/r4.png");
}
.wot-rep.accessible[reputation="r5"] {
    background-image: url("../fusion/accessible/28_28/r5.png");
}
.wot-cnf {
    background: url("../fusion/confidence-0.png") right top no-repeat;
    height: 18px;
    width: 51px;
    margin: 5px 0 0px 4px;
    padding: 0;
    float: left;
}

.wot-cnf[confidence="c1"] {
    background-image: url("../fusion/confidence-1.png");
}
.wot-cnf[confidence="c2"] {
    background-image: url("../fusion/confidence-2.png");
}
.wot-cnf[confidence="c3"] {
    background-image: url("../fusion/confidence-3.png");
}
.wot-cnf[confidence="c4"] {
    background-image: url("../fusion/confidence-4.png");
}
.wot-cnf[confidence="c5"] {
    background-image: url("../fusion/confidence-5.png");
}

#wot-categories {
    /* Block of categories */
    clear: both;
}

#wot-cat-text {
    /* This element is for optional text when no categories are identified */
    font-size: 11px;
    color: #3073C5;
    padding: 6px 5px;
    text-align: center;
    display: none;
}

#wot-cat-text:hover {
    text-decoration: underline;
}

#wot-cat-list {
    /* List of categories */
    display: none;
    padding: 0 10px 0 40px !important;
    margin: 6px 0 !important;
}

.wot-popup-layer .cat-item {
    font-size: 9pt;
    color: silver;
    list-style: none !important;
    padding: 0.25em 0 !important;
}

.wot-popup-layer .cat-item:before {
    width: 1em;
    height: 1em;
    border: 1px solid #C0C0C0;
    background-color: #C0C0C0;
    border-radius: 50%;
    content: "";
    position: absolute;
    margin-left: -1.65em;
    margin-top: 1px;
}

.c-neutral.cat-item:before {
    background-color: #707070;
    background: -webkit-radial-gradient(center, ellipse cover, #9e9c9c 0%,#707070 100%); /* Chrome10+,Safari5.1+ */
    border-color: #7d7d7d;
}

.c-questionable.cat-item:before {
    background-color: #ffd100;
    background: -webkit-radial-gradient(center, ellipse cover, #f8df68 0%,#f6cd0e 100%); /* Chrome10+,Safari5.1+ */
    border-color: #f6cd0e;
}

.c-negative.cat-item:before {
    background-color: #f66d3f;
    background: -webkit-radial-gradient(center, ellipse cover, #fca080 0%,#f77448 100%); /* Chrome10+,Safari5.1+ */
    border-color: #f66d3f;
}

.c-positive.cat-item:before {
    background-color: #68c800;
    background: -webkit-radial-gradient(center, ellipse cover, #83d561 0%,#6dc14a 100%); /* Chrome10+,Safari5.1+ */
    border-color: #6dc14a;
}

/* reset styles */
.wot-popup-layer .c0,
.wot-popup-layer .c1,
.wot-popup-layer .c2,
.wot-popup-layer .c3,
.wot-popup-layer .c4,
.wot-popup-layer .c5 {
    height: auto;
}

.wot-popup-layer .c0 {
    font-size: 11px !important;
    color: #a7a7a7 !important;
}

.wot-popup-layer .c0.cat-item:before {
    width: 4px !important;
    height: 4px !important;
    margin-left: -19px !important;
    margin-top: 4px !important;
}

.wot-popup-layer .c1 {
    font-size: 12px;
    color: #a7a7a7;
}

.wot-popup-layer .c1.cat-item:before {
    width: 6px;
    height: 6px;
    margin-left: -20px;
    margin-top: 3px;
}

.wot-popup-layer .c2,
.wot-popup-layer .c3 {
    font-size: 12px;
    color: #646464;
}

.wot-popup-layer .c2.cat-item:before,
.wot-popup-layer .c3.cat-item:before {
    width: 8px;
    height: 8px;
    margin-left: -21px;
    margin-top: 1px;
}

.wot-popup-layer .c4,
.wot-popup-layer .c5 {
    font-size: 12px;
    color: #5c5c5c;
    font-weight: bold;
}

.wot-popup-layer .c4.cat-item:before,
.wot-popup-layer .c5.cat-item:before {
    width: 10px;
    height: 10px;
    margin-left: -22px;
}

/* small hints about user's ratings on the popup */

.wot-corners-wrapper {
    position: relative;
}

.wot-pp-tr,
.wot-pp-cs {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border: 4px solid transparent;
    /*border-left-color: red;*/
    /*border-bottom-color: red;*/
}

.wot-pp-cs {
    right: 0;
    left: auto;
    margin-left: auto;
    bottom: 0;
    /*border-left-color: transparent;*/
    /*border-right-color: red;*/
}

.wot-pp-tr[r="r1"] {
    border-left-color: #fd0000;
    border-bottom-color: #fd0000;
}

.wot-pp-cs[r="r1"] {
    border-right-color: #fd0000;
    border-bottom-color: #fd0000;
}

.wot-pp-tr[r="r2"] {
    border-left-color: #ff9f75;
    border-bottom-color: #ff9f75;
}

.wot-pp-cs[r="r2"] {
    border-right-color: #ff9f75;
    border-bottom-color: #ff9f75;
}

.wot-pp-tr[r="r3"] {
    border-left-color: #ffd100;
    border-bottom-color: #ffd100;
}

.wot-pp-cs[r="r3"] {
    border-right-color: #ffd100;
    border-bottom-color: #ffd100;
}

.wot-pp-tr[r="r4"] {
    border-left-color: #a7df21;
    border-bottom-color: #a7df21;
}

.wot-pp-cs[r="r4"] {
    border-right-color: #a7df21;
    border-bottom-color: #a7df21;
}

.wot-pp-tr[r="r5"] {
    border-left-color: #68c800;
    border-bottom-color: #68c800;
}

.wot-pp-cs[r="r5"] {
    border-right-color: #68c800;
    border-bottom-color: #68c800;
}
