/*
	warning.css
	Copyright © 2009 - 2013  WOT Services Oy <info@mywot.com>

	This file is part of WOT.

	WOT is free software: you can redistribute it and/or modify it
	under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	WOT is distributed in the hope that it will be useful, but WITHOUT
	ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
	License for more details.

	You should have received a copy of the GNU General Public License
	along with WOT. If not, see <http://www.gnu.org/licenses/>.
*/

/* ! important in an attempt to override conflicting styles on websites where this is included */

#wotwarning, #wotwrapper {
    position: fixed ! important;
    left: 0 ! important;
    top: 0 ! important;
    height: 100% ! important;
    width: 100% ! important;
    margin: 0 ! important;
    display: block;
    cursor: default;
    -webkit-user-select: none;
}

#wotwarning {
    z-index: 2147483645 ! important;
    background-color: #000000 ! important;
    opacity: 0.8 ! important;
}

#wotwrapper {
    z-index: 2147483646 !important;
    background-color: transparent !important;
    opacity: 1.0 !important;
}

#wotcontainer {
    position: static !important;
    width: 388px ! important;
    margin: 0 auto 0 !important;
    outline: 0 !important;
    padding: 0 0 17px !important;
    z-index: 2147483647 !important;
    text-align: center !important;
    font-family: "Arial", sans-serif !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: #babbbb solid 1px;
    box-shadow: 5px 5px 20px #111;
    background-color: #ffffff !important;
    cursor: default !important;
    color: #504f4f !important;
    direction: ltr; /* fixes issue #64 */
    float: none; /* fixes #90 */
    height: auto; /* fixes #99 */
}

.wotcontainer * {
    position: static !important;
    line-height: normal !important;
    font-family: "Arial", sans-serif !important;
    font-weight: normal !important;
    cursor: default !important;
    font-size: 10pt !important;
    letter-spacing: 0 !important;
    opacity: 1.0 !important;
    outline: 0 !important;
    border: 0 !important;
    vertical-align: baseline !important;
    word-spacing: 0 !important;
    padding: 0 0 0 0 !important;
    text-decoration: none !important;
    background-color: transparent !important;
    text-align: center !important;
    margin: 0 !important;
    color: #504f4f !important;
    width: auto; /* fixes issue #64 */
    float: none; /* fixes issue #64 */
    height: auto; /* fixes #99 */
}

.wot-logo {
    position: relative !important;
    top: 10px !important;
    left: 12px !important;
    width: 42px !important;
    height: 17px !important;
    background: url("../fusion/logo.png") top left no-repeat !important;
}

.wot-warning {
    margin-top: 6px !important;
    width: 100% !important;
    text-align: center !important;
    font-size: 25pt !important;
    font-weight: 800 !important;
    color: #504f4f !important;
    text-shadow: 1px 1px 1px #fff !important;
}

.wot-title  {
    margin: 4px auto !important;
    max-width: 90% !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #454545 !important;
    text-shadow: 1px 1px 1px #fff !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding: 0 0.5em 0.5em 0.5em !important;
    text-overflow: ellipsis !important;
}

.wot-desc {
    margin-top: 0 !important;
    font-size: 13px !important;
    color: #454545 !important;
    margin-bottom: 1em !important;
    padding: 0 10px !important;
    text-align: center !important;
}

/* Section of ratings */
#wot-warn-ratings {
    width: 63% !important;
    margin: 0.5em auto !important;
}

#wotcontainer.wotnoratings #wot-warn-ratings {
    display: none !important;
}

.wot-rep-components-wrapper {
    min-height: 105px;
    background-color: #F5F5F5 !important;
    border-top: 1px solid #D1D1D1 !important;
    border-bottom: 1px solid #D1D1D1 !important;
}

#wotcontainer.blacklist .wot-rep-components-wrapper {
    /* don't show reputation area in blacklist mode */
    display: none;
}

.wot-rep-components {
    /*clear: left;*/
    display: inline-block;
    margin: 0 auto !important;
    /*padding-left: 20px !important;*/
}

.wot-component {
    position: relative !important;
    text-align: left !important;
    display: inline;
    float: left;
    min-width: 140px !important;
    margin-top: 10px !important;
}

.wot-comp-name {
    padding: 8px 0 0.5em 0 !important;
    color: #454545 !important;
    text-align: left !important;
    font-size: 12px !important;
    white-space: nowrap;
    min-height: 18px !important;
}

.wot-rep-data {
    position: relative !important;
    margin-top: 4px !important;
    margin-left: 0 !important;
    display: inline !important;
}

/* Donuts icons */
.wot-comp-icon {
    position: absolute !important;
    background-image: url("../b/donuts_150.png") !important;
    background-repeat: no-repeat !important;
    background-position: 0 -165px !important;
    background-size: 35px 198px !important;
    height: 33px !important;
    width: 35px !important;
    margin-left: -5px !important;
    margin-top: 10px !important;
}

#wotcontainer.accessible .wot-comp-icon {
    background-image: url("../b/accessible/donuts_150.png") !important;
}

.wot-comp-icon[r="r1"] {
    background-position: 0 -132px !important;
}

.wot-comp-icon[r="r2"] {
    background-position: 0 -99px !important;
}

.wot-comp-icon[r="r3"] {
    background-position: 0 -66px !important;
}

.wot-comp-icon[r="r4"] {
    background-position: 0 -33px !important;
}

.wot-comp-icon[r="r5"] {
    background-position: 0 0 !important;
}

.wot-comp-conf {
    position: absolute !important;
    height: 42px !important;
    margin-left: 26px !important;
    margin-top: -2px !important;
    width: 34px !important;
    background: url("../b/confidence_150dpi.png") top left no-repeat !important;
    background-size: 33px auto !important;
    background-position: 0 -168px !important;
}

.wot-comp-conf[c="c1"] {
    background-position: 0 -126px !important;
}
.wot-comp-conf[c="c2"] {
    background-position: 0 -84px !important;
}
.wot-comp-conf[c="c3"] {
    background-position: 0 -42px !important;
}
.wot-comp-conf[c="c4"] {
    background-position: 0 0 !important;
}
.wot-comp-conf[c="c5"] {
    background-position: 0 -210px !important;
}

.rating-legend-wrapper {
    position: relative !important;
    margin: 3px 18px auto 74px !important;
    background: url("../b/bubl_speech_c_150.png")  top left repeat-x !important;
    background-size: 1px 23px !important;
    height: 23px !important;
    left: 1px;
    display: inline-block;
    padding: 4px 0 !important;
}

.rating-legend-wrapper:before {
    position: absolute !important;
    content: "" !important;
    height: 23px !important;
    width: 17px !important;
    background: url("../b/bubl_speech_l_150.png") top left no-repeat !important;
    background-size: 17px 23px !important;
    left: -17px;
    top: 0;
}

.rating-legend-wrapper:after {
    position: absolute !important;
    content: "" !important;
    height: 23px !important;
    width: 17px !important;
    right: -17px !important;
    background: url("../b/bubl_speech_r_150.png") top left no-repeat !important;
    background-size: 10px 23px !important;
    top: 0 !important;
}

.rating-legend {
    position: relative !important;
    height: 24px !important;
    min-width: 48px !important;
    margin: 2px 0 0em !important;
    padding: 3px 4px 0 0px !important;
    color: #454545 !important;
    font-size: 12px !important;
    text-align: center !important;
    white-space: nowrap !important;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ws-categories-area {
    margin: 4px 0 0 !important;
    padding: 0.4em 0 0 !important;
}

#wotcontainer.blacklist .ws-categories-area {
    /* don't show it in blacklist mode */
    display: none;
}

.ws-categories-title {
    font-size: 12px !important;
    font-weight: bold !important;
    color: #888 !important;
    padding-top: 8px !important;
}

#ws-categories-list {
    margin: 8px 25px 0 74px !important;
    text-align: left !important;
}

.cat-item {
    font-size: 9pt !important;
    color: silver !important;
    list-style: none !important;
    padding: 0.25em 0 !important;
    text-align: left !important;
    background: none !important; /* issue fix */
}

.cat-item:before {
    width: 1em !important;
    height: 1em !important;
    border: 1px solid #C0C0C0 !important;
    background-color: #C0C0C0 !important;
    border-radius: 50% !important;
    content: "" !important;
    position: absolute !important;
    margin-left: -1.65em !important;
    margin-top: 1px !important;
}

.c-neutral.cat-item:before {
    background-color: #707070;
    background: -webkit-radial-gradient(center, ellipse cover, #9e9c9c 0%, #707070 100%); /* Chrome10+,Safari5.1+ */
    border-color: #7d7d7d;
}

#wotcontainer.accessible .c-neutral.cat-item:before {
    background-color: #707070;
    background: -webkit-radial-gradient(center, ellipse cover, #9B9898 0%, #7E7E7E 100%);
    border-color: #707070;
}

.c-questionable.cat-item:before {
    background-color: #ffd100;
    background: -webkit-radial-gradient(center, ellipse cover, #f8df68 0%, #f6cd0e 100%); /* Chrome10+,Safari5.1+ */
    border-color: #f6cd0e;
}

#wotcontainer.accessible .c-questionable.cat-item:before {
    background-color: #F6CD0E;
    background: -webkit-radial-gradient(center, ellipse cover, #FEE68A 0%, #F5CC33 100%);
    border-color: #F6CD0E;
}

.c-negative.cat-item:before {
    background-color: #f66d3f;
    background: -webkit-radial-gradient(center, ellipse cover, #fca080 0%, #f77448 100%); /* Chrome10+,Safari5.1+ */
    border-color: #f66d3f;
}

#wotcontainer.accessible .c-negative.cat-item:before {
    background-color: #1F1F1F;
    background: -webkit-radial-gradient(center, ellipse cover,#939393 0%, #1F1F1F 100%);
    border-color: #1F1F1F;
}

.c-positive.cat-item:before {
    background-color: #68c800;
    background: -webkit-radial-gradient(center, ellipse cover, #83d561 0%, #6dc14a 100%); /* Chrome10+,Safari5.1+ */
    border-color: #6dc14a;
}

#wotcontainer.accessible .c-positive.cat-item:before {
    background-color: #B8B8B8;
    background: -webkit-radial-gradient(center, ellipse cover, #FDFDFD 0%, #F7F7F7 100%);
    border-color: #B8B8B8;
}

.c0 {
    font-size: 11px !important;
    color: #a7a7a7 !important;
}

.c0.cat-item:before {
    width: 4px !important;
    height: 4px !important;
    margin-left: -19px !important;
    margin-top: 4px !important;
}

.c1 {
    font-size: 12px !important;
    color: #a7a7a7 !important;
}

.c1.cat-item:before {
    width: 6px !important;
    height: 6px !important;
    margin-left: -20px !important;
    margin-top: 3px !important;
}

.c2,
.c3 {
    font-size: 12px !important;
    color: #646464 !important;
}

.c2.cat-item:before,
.c3.cat-item:before {
    width: 8px !important;
    height: 8px !important;
    margin-left: -21px !important;
    margin-top: 2px !important;
}

.c4,
.c5 {
    font-size: 12px !important;
    color: #5c5c5c !important;
    font-weight: bold !important;
}

.c4.cat-item:before,
.c5.cat-item:before {
    width: 10px !important;
    height: 10px !important;
    margin-left: -22px !important;
}

.wot-openscorecard-wrap {
    margin-top: 14px !important;
    text-align: left !important;
    margin-left: 52px !important;
}

#wotcontainer.blacklist .wot-openscorecard-wrap {
    /* in blacklist mode, align by center */
    margin-left: 0 !important;
    text-align: center !important;
}

#wotinfobutton,
.wot-openscorecard {
    padding: 0.4em 0 0.6em 0px !important;
    font-size: 13px !important;
}

.wot-link {
    cursor: pointer !important;
    color: #2353ce !important;
    text-decoration: none !important;
}

.wot-link:hover {
    text-decoration: underline !important;
}

.wot-rateit-wrap {
    margin: 14px auto 0 !important;
    width: 80% !important;
}
.wot-rateit-wrap span {
    font-size: 12px !important;
}

#wotrate-link {
    font-size: 12px !important;
}

/* bottom buttons row */
.wot-buttons {
    margin-top: 1em !important;
    margin-bottom: 0.2em !important;
    position: relative !important;
    height: 32px !important;
}
/* button's style */
.wot-button {
    display: inline !important;
    float: left !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-top-color: #DFDFDF !important;
    border-right-color: #C2C2C2 !important;
    border-left-color: #D1CECE !important;
    border-bottom-color: #AEAEAE !important;
    padding: 0.5em 1.5em !important;
    margin: 0.4em 1em !important;
    min-width: 95px;
    border-radius: 2px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #585858 !important;

    background-image: -webkit-linear-gradient(top, #FFF 0%, #e7e5e5 100%) !important;
    box-shadow: 1px 1px 5px #d2d2d2 !important;
    text-shadow: 1px 1px rgba(255,255,255,0.75) !important;
    cursor: pointer !important;
}

.wot-button:hover {
    background-image: -webkit-linear-gradient(top, #FFF 0%,#dadada 83%, #f3f1f1 100%) !important;
}

.wot-button:active {
    box-shadow: 1px 1px 1px #d2d2d2 inset !important;
    text-shadow: 0px 0px #DDD !important;
}

#wot-btn-hide, #wot-btn-leave {
    position: absolute !important;
}

#wot-btn-hide {
    left: 25px !important;
}

#wot-btn-hide:active {
    left: 26px !important;
}

#wot-btn-leave {
    right: 25px !important;
}

#wot-btn-leave:active {
    right: 24px !important;
}

#wot-wt-warning-wrapper {
    width: 0;
    float: left;
    position: relative !important;
    left: 390px;
    top: -40px;
}

.wot-wt-warning-content {
    position: absolute !important;
    width: 215px;
    padding: 1em 1.5em 5.5em !important;
    border-color: white;
    border-radius: 2px !important;
    color: #757575 !important;
    background-color: white !important;
    box-shadow: 0 0 7px 3px #aaa;
}

.wot-wt-warning-content:before {
    content: "";
    background-image: url(../b/welcometips/wt_left_corner_2.png);
    width: 20px;
    height: 26px;
    position: relative !important;
    top: 50px;
    left: -230px;
    float: right;
}

.wot-wt-warning-content p {
    text-align: left !important;
    padding-bottom: 0.8em !important;
    color: #656565 !important;
    font-family: Arial !important;
}

.wot-wt-warning-content label {
    color: #656565 !important;
    font-family: Arial !important;
}

/* Used in W-Tips */
.wot-wt-warning-content .wot-cb {
    text-align: center !important;
    font-weight: bold !important;
}

.wot-wt-warning-content .wot-cb.latest {
    padding-bottom: 0 !important;
}

.wot-wt-warning-content > div:not([class="wot-wt-warn-footer"]) {
    padding-top: 1em !important;
}

.wot-wt-logo {
    background-image: url(../fusion/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 15px !important;
    cursor: pointer !important;
}

/* BEGIN: Copy&Paste from welcometips.css */
.wot-wt-button {
    -webkit-transition: box-shadow 0.1s !important;
    width: 12em;
    height: 24px !important;
    margin: 1.3em auto 0.5em auto !important;
    padding: 0.7em 0.5em 0.2em 0.5em !important;

    border: #71A939 solid 1px !important;;
    border-radius: 3px !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.47);;
    text-shadow: 0px 0px 8px #fff !important;
    background-image: -webkit-linear-gradient(top, #CCEFAC 0%, #9AD265 39%, #6FA736 83%, #83BC4A) !important;

    color: #375914 !important;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.wot-wt-button:hover {
    background-image: -webkit-linear-gradient(top, #e5fad1 0%, #b2e186 39%, #83bc4a 83%, #83BC4A) !important;
}

.wot-wt-button:active {
    top: 1px;
    border-color: #babbbb;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, #a9d185 0%, #8abf58 39%, #6fa736 83%, #83bc4a) !important;
}
/* END */

.wot-wt-warn-button {
    font-weight: bold !important;
    color: #375914 !important;
}

.wot-wt-warn-footer {
    position: absolute !important;
    bottom: 1em !important;
    width: 215px !important;
}

.wot-wt-warning-content #wt-learnmore-link {
    color: #1F7BD6 !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.wot-checkbox {

}

.wot-blacklisting-info {
    display: none;
    /*min-width: 150px !important;*/
    max-width: 300px !important;
    margin: 0 auto !important;
    margin-top: 66px !important;
}

#wotcontainer.blacklist .wot-blacklisting-info {
    display: block;
}

#wotcontainer.blacklist .wot-openscorecard-wrap {
    margin-top: 4px !important;
}

.wot-bl-decoration {
    position: relative !important;
    background: url(../b/ws/robot.png) no-repeat;
    background-size: auto 72px;
    height: 72px !important;
    margin-left: -52px !important;
    width: 96px !important;
    margin-top: -68px !important;
}

.wot-bl-decoration-donut {
    left: 86px;
    top: 0;
    height: 27px !important;
}

.wot-blacklist {
    background: transparent !important;
    background: url(../b/ws/list_c.png) repeat-x !important;
    display: inline-block !important;
    padding-top: 18px !important;
    background-size: 1px 164px !important;
    height: 154px !important;
    position: relative !important;
}

.wot-blacklist:before {
    content: "";
    background: url("../b/ws/list_l.png") no-repeat !important;
    background-size: 36px auto !important;
    width: 36px !important;
    height: 164px !important;
    position: absolute !important;
    left: -36px !important;
    top: 0 !important;
}

.wot-blacklist:after {
    content: "";
    background: url("../b/ws/list_r.png") no-repeat !important;
    background-size: auto 164px !important;
    width: 30px !important;
    height: 164px !important;
    position: absolute !important;
    right: -30px !important;
    top: 0 !important;
}

.wot-bl-verdict {
    margin: 4px 2px !important;
    padding: 2px 10px !important;
    color: #FFF !important;
    text-align: left !important;
    font-family: sans-serif !important;
}

.wot-bl-verdict.empty {
    min-width: 50px !important;
    background-color: #606060 !important;
    padding: 2px 0 3px !important;
    margin: 14px 8px 10px 12px !important;
    content: "";
}