/*
	warning.css
	Copyright © 2009 - 2013  WOT Services Oy <info@mywot.com>

	This file is part of WOT.

	WOT is free software: you can redistribute it and/or modify it
	under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	WOT is distributed in the hope that it will be useful, but WITHOUT
	ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
	License for more details.

	You should have received a copy of the GNU General Public License
	along with WOT. If not, see <http://www.gnu.org/licenses/>.
*/

#wotwarning, #wotwrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    display: block;
    cursor: default;
    -webkit-user-select: none;
}

#wotwarning {
    z-index: 2147483645;
    background-color: #000000;
    opacity: 0.8;
}

#wotwrapper {
    z-index: 2147483646;
    background-color: transparent;
    opacity: 1.0;
}

#wotcontainer {
    position: static;
    width: 388px;
    margin: 0 auto 0;
    outline: 0;
    padding: 0 0 17px;
    z-index: 2147483647;
    text-align: center;
    font-family: "Arial", sans-serif;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: #babbbb solid 1px;
    box-shadow: 5px 5px 20px #111;
    background-color: #ffffff;
    cursor: default;
    color: #504f4f;
    direction: ltr; /* fixes issue #64 */
    float: none; /* fixes #90 */
    height: auto; /* fixes #99 */
    display: block; /* fixes #148 */
}

.wotcontainer * {
    position: static;
    line-height: normal;
    font-family: "Arial", sans-serif;
    font-weight: normal;
    cursor: default;
    font-size: 10pt;
    letter-spacing: 0;
    opacity: 1.0;
    outline: 0;
    border: 0;
    vertical-align: baseline;
    word-spacing: 0;
    padding: 0 0 0 0;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    margin: 0;
    color: #504f4f;
    width: auto; /* fixes issue #64 */
    float: none; /* fixes issue #64 */
    height: auto; /* fixes #99 */
}

.wot-logo {
    position: relative;
    top: 10px;
    left: 12px;
    width: 42px;
    height: 17px;
    background: url("../fusion/logo.png") top left no-repeat;
}

.wot-warning {
    margin-top: 6px;
    width: 100%;
    text-align: center;
    font-size: 25pt;
    font-weight: 800;
    color: #504f4f;
    text-shadow: 1px 1px 1px #fff;
}

.wot-title  {
    margin: 4px auto;
    max-width: 90%;
    font-size: 12px;
    font-weight: bold;
    color: #454545;
    text-shadow: 1px 1px 1px #fff;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 0.5em 0.5em 0.5em;
    text-overflow: ellipsis;
}

.wot-desc {
    margin-top: 0;
    font-size: 13px;
    color: #454545;
    margin-bottom: 1em;
    padding: 0 10px;
    text-align: center;
}

/* Section of ratings */
#wot-warn-ratings {
    width: 63%;
    margin: 0.5em auto;
}

#wotcontainer.wotnoratings #wot-warn-ratings {
    display: none;
}

.wot-rep-components-wrapper {
    min-height: 105px;
    background-color: #F5F5F5;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}

#wotcontainer.blacklist .wot-rep-components-wrapper {
    /* don't show reputation area in blacklist mode */
    display: none;
}

.wot-rep-components {
    /*clear: left;*/
    display: inline-block;
    margin: 0 auto;
    /*padding-left: 20px;*/
}

.wot-component {
    position: relative;
    text-align: left;
    display: inline;
    float: left;
    min-width: 140px;
    margin-top: 10px;
}

.wot-comp-name {
    padding: 8px 0 0.5em 0;
    color: #454545;
    text-align: left;
    font-size: 12px;
    white-space: nowrap;
    min-height: 18px;
}

.wot-rep-data {
    position: relative;
    margin-top: 4px;
    margin-left: 0;
    display: inline;
}

/* Donuts icons */
.wot-comp-icon {
    position: absolute;
    background-image: url("../b/donuts_150.png");
    background-repeat: no-repeat;
    background-position: 0 -165px;
    background-size: 35px 198px;
    height: 33px;
    width: 35px;
    margin-left: -5px;
    margin-top: 10px;
}

#wotcontainer.accessible .wot-comp-icon {
    background-image: url("../b/accessible/donuts_150.png");
}

.wot-comp-icon[r="r1"] {
    background-position: 0 -132px;
}

.wot-comp-icon[r="r2"] {
    background-position: 0 -99px;
}

.wot-comp-icon[r="r3"] {
    background-position: 0 -66px;
}

.wot-comp-icon[r="r4"] {
    background-position: 0 -33px;
}

.wot-comp-icon[r="r5"] {
    background-position: 0 0;
}

.wot-comp-conf {
    position: absolute;
    height: 42px;
    margin-left: 26px;
    margin-top: -2px;
    width: 34px;
    background: url("../b/confidence_150dpi.png") top left no-repeat;
    background-size: 33px auto;
    background-position: 0 -168px;
}

.wot-comp-conf[c="c1"] {
    background-position: 0 -126px;
}
.wot-comp-conf[c="c2"] {
    background-position: 0 -84px;
}
.wot-comp-conf[c="c3"] {
    background-position: 0 -42px;
}
.wot-comp-conf[c="c4"] {
    background-position: 0 0;
}
.wot-comp-conf[c="c5"] {
    background-position: 0 -210px;
}

.rating-legend-wrapper {
    position: relative;
    margin: 3px 18px auto 74px;
    background: url("../b/bubl_speech_c_150.png")  top left repeat-x;
    background-size: 1px 23px;
    height: 23px;
    left: 1px;
    display: inline-block;
    padding: 4px 0;
}

.rating-legend-wrapper:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 17px;
    background: url("../b/bubl_speech_l_150.png") top left no-repeat;
    background-size: 17px 23px;
    left: -17px;
    top: 0;
}

.rating-legend-wrapper:after {
    position: absolute;
    content: "";
    height: 23px;
    width: 17px;
    right: -17px;
    background: url("../b/bubl_speech_r_150.png") top left no-repeat;
    background-size: 10px 23px;
    top: 0;
}

.rating-legend {
    position: relative;
    height: 24px;
    min-width: 48px;
    margin: 2px 0 0em;
    padding: 3px 4px 0 0px;
    color: #454545;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ws-categories-area {
    margin: 4px 0 0;
    padding: 0.4em 0 0;
}

#wotcontainer.blacklist .ws-categories-area {
    /* don't show it in blacklist mode */
    display: none;
}

.ws-categories-title {
    font-size: 12px;
    font-weight: bold;
    color: #888;
    padding-top: 8px;
}

#ws-categories-list {
    margin: 8px 25px 0 74px;
    text-align: left;
}

.cat-item {
    font-size: 9pt;
    color: silver;
    list-style: none;
    padding: 0.25em 0;
    text-align: left;
    background: none; /* issue fix */
}

.cat-item:before {
    width: 1em;
    height: 1em;
    border: 1px solid #C0C0C0;
    background-color: #C0C0C0;
    border-radius: 50%;
    content: "";
    position: absolute;
    margin-left: -1.65em;
    margin-top: 1px;
}

.c-neutral.cat-item:before {
    background-color: #707070;
    background: -webkit-radial-gradient(center, ellipse cover, #9e9c9c 0%, #707070 100%); /* Chrome10+,Safari5.1+ */
    border-color: #7d7d7d;
}

#wotcontainer.accessible .c-neutral.cat-item:before {
    background-color: #707070;
    background: -webkit-radial-gradient(center, ellipse cover, #9B9898 0%, #7E7E7E 100%);
    border-color: #707070;
}

.c-questionable.cat-item:before {
    background-color: #ffd100;
    background: -webkit-radial-gradient(center, ellipse cover, #f8df68 0%, #f6cd0e 100%); /* Chrome10+,Safari5.1+ */
    border-color: #f6cd0e;
}

#wotcontainer.accessible .c-questionable.cat-item:before {
    background-color: #F6CD0E;
    background: -webkit-radial-gradient(center, ellipse cover, #FEE68A 0%, #F5CC33 100%);
    border-color: #F6CD0E;
}

.c-negative.cat-item:before {
    background-color: #f66d3f;
    background: -webkit-radial-gradient(center, ellipse cover, #fca080 0%, #f77448 100%); /* Chrome10+,Safari5.1+ */
    border-color: #f66d3f;
}

#wotcontainer.accessible .c-negative.cat-item:before {
    background-color: #1F1F1F;
    background: -webkit-radial-gradient(center, ellipse cover,#939393 0%, #1F1F1F 100%);
    border-color: #1F1F1F;
}

.c-positive.cat-item:before {
    background-color: #68c800;
    background: -webkit-radial-gradient(center, ellipse cover, #83d561 0%, #6dc14a 100%); /* Chrome10+,Safari5.1+ */
    border-color: #6dc14a;
}

#wotcontainer.accessible .c-positive.cat-item:before {
    background-color: #B8B8B8;
    background: -webkit-radial-gradient(center, ellipse cover, #FDFDFD 0%, #F7F7F7 100%);
    border-color: #B8B8B8;
}

.c0 {
    font-size: 11px;
    color: #a7a7a7;
}

.c0.cat-item:before {
    width: 4px;
    height: 4px;
    margin-left: -19px;
    margin-top: 4px;
}

.c1 {
    font-size: 12px;
    color: #a7a7a7;
}

.c1.cat-item:before {
    width: 6px;
    height: 6px;
    margin-left: -20px;
    margin-top: 3px;
}

.c2,
.c3 {
    font-size: 12px;
    color: #646464;
}

.c2.cat-item:before,
.c3.cat-item:before {
    width: 8px;
    height: 8px;
    margin-left: -21px;
    margin-top: 2px;
}

.c4,
.c5 {
    font-size: 12px;
    color: #5c5c5c;
    font-weight: bold;
}

.c4.cat-item:before,
.c5.cat-item:before {
    width: 10px;
    height: 10px;
    margin-left: -22px;
}

.wot-openscorecard-wrap {
    margin-top: 14px;
    text-align: left;
    margin-left: 52px;
}

#wotcontainer.blacklist .wot-openscorecard-wrap {
    /* in blacklist mode, align by center */
    margin-left: 0;
    text-align: center;
}

#wotinfobutton,
.wot-openscorecard {
    padding: 0.4em 0 0.6em 0px;
    font-size: 13px;
}

.wot-link {
    cursor: pointer;
    color: #2353ce;
    text-decoration: none;
}

.wot-link:hover {
    text-decoration: underline;
}

.wot-rateit-wrap {
    margin: 14px auto 0;
    width: 80%;
}
.wot-rateit-wrap span {
    font-size: 12px;
}

#wotrate-link {
    font-size: 12px;
}

/* bottom buttons row */
.wot-buttons {
    margin-top: 1em;
    margin-bottom: 0.2em;
    position: relative;
    height: 32px;
}
/* button's style */
.wot-button {
    display: inline;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-top-color: #DFDFDF;
    border-right-color: #C2C2C2;
    border-left-color: #D1CECE;
    border-bottom-color: #AEAEAE;
    padding: 0.5em 1.5em;
    margin: 0.4em 1em;
    min-width: 95px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #585858;

    background-image: -webkit-linear-gradient(top, #FFF 0%, #e7e5e5 100%);
    box-shadow: 1px 1px 5px #d2d2d2;
    text-shadow: 1px 1px rgba(255,255,255,0.75);
    cursor: pointer;
}

.wot-button:hover {
    background-image: -webkit-linear-gradient(top, #FFF 0%,#dadada 83%, #f3f1f1 100%);
}

.wot-button:active {
    box-shadow: 1px 1px 1px #d2d2d2 inset;
    text-shadow: 0px 0px #DDD;
}

#wot-btn-hide, #wot-btn-leave {
    position: absolute;
}

#wot-btn-hide {
    left: 25px;
}

#wot-btn-hide:active {
    left: 26px;
}

#wot-btn-leave {
    right: 25px;
}

#wot-btn-leave:active {
    right: 24px;
}

#wot-wt-warning-wrapper {
    width: 0;
    float: left;
    position: relative;
    left: 390px;
    top: -40px;
}

.wot-wt-warning-content {
    position: absolute;
    width: 215px;
    padding: 1em 1.5em 5.5em;
    border-color: white;
    border-radius: 2px;
    color: #757575;
    background-color: white;
    box-shadow: 0 0 7px 3px #aaa;
}

.wot-wt-warning-content:before {
    content: "";
    background-image: url(../b/welcometips/wt_left_corner_2.png);
    width: 20px;
    height: 26px;
    position: relative;
    top: 50px;
    left: -230px;
    float: right;
}

.wot-wt-warning-content p {
    text-align: left;
    padding-bottom: 0.8em;
    color: #656565;
    font-family: Arial;
}

.wot-wt-warning-content label {
    color: #656565;
    font-family: Arial;
}

/* Used in W-Tips */
.wot-wt-warning-content .wot-cb {
    text-align: center;
    font-weight: bold;
}

.wot-wt-warning-content .wot-cb.latest {
    padding-bottom: 0;
}

.wot-wt-warning-content > div:not([class="wot-wt-warn-footer"]) {
    padding-top: 1em;
}

.wot-wt-logo {
    background-image: url(../fusion/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 15px;
    cursor: pointer;
}

/* BEGIN: Copy&Paste from welcometips.css */
.wot-wt-button {
    -webkit-transition: box-shadow 0.1s;
    width: 12em;
    height: 24px;
    margin: 1.3em auto 0.5em auto;
    padding: 0.7em 0.5em 0.2em 0.5em;

    border: #71A939 solid 1px;;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.47);;
    text-shadow: 0px 0px 8px #fff;
    background-image: -webkit-linear-gradient(top, #CCEFAC 0%, #9AD265 39%, #6FA736 83%, #83BC4A);

    color: #375914;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.wot-wt-button:hover {
    background-image: -webkit-linear-gradient(top, #e5fad1 0%, #b2e186 39%, #83bc4a 83%, #83BC4A);
}

.wot-wt-button:active {
    top: 1px;
    border-color: #babbbb;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, #a9d185 0%, #8abf58 39%, #6fa736 83%, #83bc4a);
}
/* END */

.wot-wt-warn-button {
    font-weight: bold;
    color: #375914;
}

.wot-wt-warn-footer {
    position: absolute;
    bottom: 1em;
    width: 215px;
}

.wot-wt-warning-content #wt-learnmore-link {
    color: #1F7BD6;
    text-decoration: underline;
    cursor: pointer;
}

.wot-checkbox {

}

.wot-blacklisting-info {
    display: none;
    /*min-width: 150px;*/
    max-width: 300px;
    margin: 0 auto;
    margin-top: 66px;
}

#wotcontainer.blacklist .wot-blacklisting-info {
    display: block;
}

#wotcontainer.blacklist .wot-openscorecard-wrap {
    margin-top: 4px;
}

.wot-bl-decoration {
    position: relative;
    background: url(../b/ws/robot.png) no-repeat;
    background-size: auto 72px;
    height: 72px;
    margin-left: -52px;
    width: 96px;
    margin-top: -68px;
}

.wot-bl-decoration-donut {
    left: 86px;
    top: 0;
    height: 27px;
}

.wot-blacklist {
    background: transparent;
    background: url(../b/ws/list_c.png) repeat-x;
    display: inline-block;
    padding-top: 18px;
    background-size: 1px 164px;
    height: 154px;
    position: relative;
}

.wot-blacklist:before {
    content: "";
    background: url("../b/ws/list_l.png") no-repeat;
    background-size: 36px auto;
    width: 36px;
    height: 164px;
    position: absolute;
    left: -36px;
    top: 0;
}

.wot-blacklist:after {
    content: "";
    background: url("../b/ws/list_r.png") no-repeat;
    background-size: auto 164px;
    width: 30px;
    height: 164px;
    position: absolute;
    right: -30px;
    top: 0;
}

.wot-bl-verdict {
    margin: 4px 2px;
    padding: 2px 10px;
    color: #FFF;
    text-align: left;
    font-family: sans-serif;
}

.wot-bl-verdict.empty {
    min-width: 50px;
    background-color: #606060;
    padding: 2px 0 3px;
    margin: 14px 8px 10px 12px;
    content: "";
}
