/*
	ratingwindow.css
	Copyright © 2009 - 2013  WOT Services Oy <info@mywot.com>

	This file is part of WOT.

	WOT is free software: you can redistribute it and/or modify it
	under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	WOT is distributed in the hope that it will be useful, but WITHOUT
	ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
	License for more details.

	You should have received a copy of the GNU General Public License
	along with WOT. If not, see <http://www.gnu.org/licenses/>.
*/

body {
    overflow: hidden;
    cursor: default;
    -webkit-user-select: none;
    width: 580px;
}

#wot-ratingwindow {
    display: block;
    padding: 10px 16px 0;
    min-height: 390px;
}

#wot-elements {
    background: #ffffff;
    display: block;
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*width: 316px;*/
}

/* header, always visible */
#wot-header {
    position: relative;
}

/* Always visible */
#ratings-area {
    min-height: 94px;
    position: relative;
    background-color: #f9f9f9;
    padding: 4px 10px;
    margin: 0 -16px;
}

/* height of rating area depends on the mode:
 low height (94px): unrated, rate
 high height: (122px): rated, commenting, thanks

 */
.view-mode #ratings-area,
.commenting #ratings-area {
    min-height: 122px; /* to fit categories or activity score */
}

#ratings-area:before,
#ratings-area:after {
    position: absolute;
    left: -13px;
    width: 105%;
    content: "";
}

#ratings-area:before {
    border-top: 1px solid #D2D2D2;
    top: 0;
}

#ratings-area:after {
    border-bottom: 1px solid #D2D2D2;
    content: "";
    bottom: 0;
}

#ratings-area[disabled=disabled],
#ratings-area[disabled=disabled] .wot-rating-slider {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    -webkit-filter: grayscale(100%);
    opacity: 0.7;
}

/* Always visible */
#main-area {
    min-height: 184px;
    padding: 4px 10px;
    margin: 0 -11px;
}

.rate #main-area {
    min-height: 210px;
}

/* Always visible */
#bottom-area {
    /*min-height: 3em;*/
    padding: 0 8px;
}

.rate #bottom-area {
    min-height: 3em;
}

#header-line-1 {
    min-height: 1em;
}

#header-line-2 {
    min-height: 1.4em;
    margin-top: -4px;
    padding-left: 4px;
}

#wot-header-logo {
    position: absolute;
    top: 2px;
    left: 0;
    background: url("fusion/logo.png") top left no-repeat;
    cursor: pointer;
    display: inline-block;
    /*float: left;*/
    height: 17px;
    width: 42px;
}

#wot-header-links {
    position: absolute;
    top: 2px;
    right: 14px;
}

.wot-header-link {
    color: #8f8f8f;
    display: table-cell;
    /*float: right;*/
    font-size: 11px;
    height: 16px;
    /*line-height: 16px;*/
    padding: 0 0.6em;
}

.wot-header-link:hover {
    color: #3073c5;
    cursor: pointer;
}

#wot-header-close {
    position: absolute;
    top: -1px;
    right: -5px;
    height: 14px;
    width: 14px;
    background-color: #FFF;
    margin: 0 0 0 1px;
    border-radius: 3px;
    border: 1px solid #B9B9B9;
    cursor: pointer;
}

#wot-header-close:hover {
    background-color: #f4f4f4;
    border: 1px solid #939393;
}

/* Cross inside the "close" icon */
#wot-header-close:after,
#wot-header-close:before {
    content: "";
    position: absolute;
    top: 50%;
    z-index: 4;
    left: 6px;
    width: 2px;
    height: 12px;
    margin-top: -6px;
    background: #A2A2A2;
}

#wot-header-close:before {
    -webkit-transform: rotate(45deg);
}

#wot-header-close:after {
    -webkit-transform: rotate(135deg);
}

#wot-title-text {
    position: absolute;
    left: 56px;
    color: #777676;
    font-size: 14px;
    overflow: hidden;
    top: 0;
}

/*#wot-title-text[status="information"] {*/
/*color: #4e4e4e;*/
/*}*/

/* Hostname */
#hostname-text {
    margin-left: 52px;
    color: #454545;
    font-size: 13px;
    font-weight: bold;
    overflow: hidden;
    -webkit-user-select: text;
    margin-top: 5px;
    display: block;
}

/*#hostname-text[status="information"] {*/
/*color: #4e4e4e;*/
/*}*/

/* rating header */
#wot-rating-header {
    color: #878787;
    display: none;
    font-size: 11px;
    height: 17px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 0;
    padding-top: 2px;
    width: 312px;
}

#wot-myratings-header {
    position: relative;
    min-height: 1em;
    margin-top: 7px;
    left: 14px;
}

#myrating-header {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #454545;
}

/* Headers for rating controls */
#wot-myrating-0-header,
#wot-myrating-4-header {
    /*left: 1em;*/
    font-size: 12px;
    position: absolute;
    color: #5C5C5C;
    margin-top: 6px;
    margin-left: 10px;
}

/* Diff for CS rating control */
#wot-myrating-4-header {
    left: 268px;
    color: rgb(92, 92, 92);
    font-size: 9pt;
}

/* rating */
.wot-rating-border {
    border-top: 1px solid #f4f4f4;
    display: block;
    height: 1px;
    margin-left: 2px;
    margin-right: 2px;
    width: 312px;
}
.wot-rating {
    position: absolute;
    height: 60px;
    margin-left: 16px;
    margin-right: 0;
    width: 240px;
    -webkit-user-select: none;
    top: 42px;
}

/* Child Safety rating control */
#wot-rating-4 {
    left: 278px;
}

#rated-votes {
    margin-top: 74px;
    font-size: 12px;
    padding: 0px 0px 0px 25px;
    max-height: 2em;
    display: none;
}

#wot-ratingwindow:not(.commenting) #rated-votes.commented,
#wot-ratingwindow:not(.commenting) #rated-votes:not(.commented):not(.voted) {
    padding-left: 53px;
}

#rated-votes:before {
    content: "";
    position: absolute;
    background-image: url(../skin/b/input-icons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 40px auto;
    width: 21px;
    height: 20px;
    margin-left: -30px;
    margin-top: 0;
}

#rated-votes:not(.commented).voted:before {
    /* don't show icon if website is not commented */
    /*background-position: 0 -20px;*/
    display: none;
}

#rated-votes.voted.commented:before {
    background-position: -20px 0px;
    margin-top: 2px;
}

#rated-votes:not(.voted).commented:before {
    /*background-position: 0 -62px;*/
    background-position: 0 0;
}

.commenting #rated-votes:before {
    /* hide icon in Commenting mode */
    display: none;
}

#voted-categories {
    width: 430px;
    position: absolute;
    overflow: hidden;
    color: #acacac;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1px 0;
    height: 20px;
}

#rated-votes.voted #voted-categories {
    color: #6A6A6A;
}

#voted-categories.wider {
    width: 530px;
}

#voted-categories-content {
    border-bottom: 1px dotted transparent;
    cursor: pointer;
}

#rated-votes:not(.voted) #voted-categories-content {
    color: #d14540;
    font-weight: bold;
    display: inline;
}

/*#rated-votes #voted-categories-content:hover {*/
    /*border-bottom-color: #acacac;*/
/*}*/

#rated-votes:not(.voted) #voted-categories-content:hover {
    border-bottom-color: #d14540;
}

#voted-categories-content .votedcategory {
    width: auto;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid #DEDEDE;
    background-color: #DEDEDE;
    height: 15px;
    width: 81px;
    float: left;
    margin: 2px 4px 2px 0;
}

#voted-categories-content .category-text {
    float: left;
    font-size: 11px;
    color: #515151;
    padding-left: 5px;
    line-height: 15px;
    width: 52px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

#voted-categories-content .more-categories {
    font-size: 11px;
    color: #808080;
    padding: 5px 0;
}

.category-hand {
    padding: 0 6px 4px 4px;
    float: left;
    border-radius: 100px 0 0 100px;
    -moz-border-radius: 100px 0 0 100px;
    -webkit-border-radius: 100px 0 0 100px;
    height: 11px;
    width: 8px;
}

.category-hand.hand-up {
    background-color: #FCFCFC;
}

.category-hand.hand-down {
    background-color: #A3A3A3;
}

.hand-up .hand-icon,
.hand-down .hand-icon {
    background-image: url(../skin/b/thumbs.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 14px;
}


.hand-down .hand-icon {
    background-position: -12px 0;
}

#change-ratings {
    position: absolute;
    right: 50px;
    margin-top: 5px;
    border-bottom: 1px dotted #3163B9;
    color: #3163B9;
    cursor: pointer;
}

/* don't chow this link during "commenting" mode */
.commenting #change-ratings {
    visibility: hidden;
}

.wot-rating-header {
    color: #454545;
    display: block;
    font-size: 12px;
    margin-bottom: 0.7em;
    margin-top: 9px;
}

.wot-rating-data {
    display: block;
}

.rating-values {
    position: relative;
    min-height: 30px;
}

.rep-tr-block {
    width: 250px;
    position: absolute;
    top: 0px;
    left: 11px;
}

.rep-cs-block {
    width: 250px;
    position: absolute;
    top: 0px;
    left: 280px;
}

.wot-rating-reputation {
    position: absolute;
	background-image: url("b/donuts_150.png");
    background-repeat: no-repeat;
    background-position: 0 -165px;
    background-size: 35px 198px;
	height: 33px;
	width: 35px;
    margin-left: -5px;
    margin-top: 10px;
}

#wot-ratingwindow.accessible .wot-rating-reputation {
    background-image: url("b/accessible/donuts_150.png");
}

.wot-rating-reputation[reputation="rx"] {
    background-position: 0 -165px;
}

.wot-rating-reputation[reputation="r0"] {
    background-position: 0 -165px;
}

.wot-rating-reputation[reputation="r1"] {
    background-position: 0 -132px;
}

.wot-rating-reputation[reputation="r2"] {
    background-position: 0 -99px;
}

.wot-rating-reputation[reputation="r3"] {
    background-position: 0 -66px;
}

.wot-rating-reputation[reputation="r4"] {
    background-position: 0 -33px;
}

.wot-rating-reputation[reputation="r5"] {
    background-position: 0 0;
}

.wot-rating-confidence {
    position: absolute;
    height: 42px;
    margin-left: 26px;
    margin-top: -2px;
    width: 34px;
	background: url("b/confidence_150dpi.png") top left no-repeat;
    background-size: 33px auto;
    background-position: 0 -168px;
}

.wot-rating-confidence[confidence="c1"] {
    background-position: 0 -126px;
}

.wot-rating-confidence[confidence="c2"] {
    background-position: 0 -84px;
}

.wot-rating-confidence[confidence="c3"] {
    background-position: 0 -42px;
}

.wot-rating-confidence[confidence="c4"] {
    background-position: 0 0;
}

.wot-rating-confidence[confidence="c5"] {
    background-position: 0 -210px;
}

.rating-legend-wrapper {
    position: absolute;
    margin: 3px 0 auto 75px;
    background: url("b/bubl_speech_c_150.png")  top left repeat-x;
    background-size: 1px 23px;
    height: 23px;
}

.rating-legend-wrapper:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 17px;
    margin-left: -17px;
    background: url("b/bubl_speech_l_150.png") top left no-repeat;
    background-size: 17px 23px;
}

.rating-legend-wrapper:after {
    position: absolute;
    content: "";
    height: 23px;
    width: 17px;
    right: -17px;
    background: url("b/bubl_speech_r_150.png") top left no-repeat;
    background-size: 10px 23px;
    top: 0px;
}

.rating-legend {
    position: relative;
    height: 16px;
    min-width: 48px;
    margin: -2px 0 0;
    padding: 6px 4px 0 0;
    color: #454545;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

.wot-rating-testimony {
    display: block;
    float: left;
    height: 16px;
    margin-left: 6px;
    margin-top: 2px;
    position: relative;
}

.wot-rating-bounds {
    position: relative;
    font-size: 11px;
    height: 16px;
    margin: 4px 48px -6px 2px;
    color: #919191;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 5.5s;
}

/* show boundary labels only when rating bars are enabled */
#ratings-area:not([disabled=disabled]) .wot-rating:hover .wot-rating-data[r=r0] .wot-rating-bounds,
#ratings-area:not([disabled=disabled]) .wot-rating.hover .wot-rating-data[r=r0] .wot-rating-bounds {
    opacity: 1;
    display: block;
}

#ratings-area:not([disabled=disabled]) .wot-rating:hover .wot-rating-data[r=r0] .wot-rating-help,
#ratings-area:not([disabled=disabled]) .wot-rating.hover .wot-rating-data[r=r0] .wot-rating-help {
    display: none;
}

.wot-rating-data[r] .wot-rating-help {
    opacity: 1;
}

.rating-bound-left,
.rating-bound-right {
    position: absolute;
}

.rating-bound-left {
    left: 0;
}

.rating-bound-right {
    right: 0;
}

.wot-rating-stack {
    display: block;
	height: 34px;
	padding-left: 0;
	width: 204px;
    z-index: 5;
    cursor: pointer;
}

#ratings-area[disabled=disabled] .wot-rating-stack {
    cursor: default;
}

.wot-rating-slider {
	background-image: url("b/slider.png");
    background-repeat: no-repeat;
    background-size: auto 216px;
    background-position: 0 -180px;
    display: block;
	height: 30px;
    margin-top: 3px;
	width: 172px;
    cursor: pointer;
}

#wot-ratingwindow.accessible .wot-rating-slider {
    background-image: url("b/accessible/slider.png");
}

#ratings-area[disabled=disabled] .wot-rating-slider {
    cursor: default;
}

.wot-rating-stack[r="r1"] .wot-rating-slider {
    background-position: 0 -144px;
}

.wot-rating-stack[r="r2"] .wot-rating-slider {
    background-position: 0 -108px;
}

.wot-rating-stack[r="r3"] .wot-rating-slider {
    background-position: 0 -72px;
}

.wot-rating-stack[r="r4"] .wot-rating-slider {
    background-position: 0 -36px;
}

.wot-rating-stack[r="r5"] .wot-rating-slider {
    background-position: 0 0;
}

.wot-rating-indicator {
    display: block;
	height: 30px;
	margin-left: -8px;
	margin-top: -22px;
	width: 21px;
    float: left;
    position: relative;
    background-image: url("b/slider_handle.png");
    background-repeat: no-repeat;
    background-size: 21px auto;
    z-index: 5;
    left: 166px;
}

#wot-ratingwindow.accessible .wot-rating-indicator {
    background-image: url("b/accessible/slider_handle.png");
}

.wot-rating-stack .wot-rating-indicator {
    background-position: 0 -140px;
}

.wot-rating-stack.testimony[r="r1"] .wot-rating-indicator {
    background-position: 0 -112px;
}

.wot-rating-stack.testimony[r="r2"] .wot-rating-indicator {
    background-position: 0 -84px;
}

.wot-rating-stack.testimony[r="r3"] .wot-rating-indicator {
    background-position: 0 -56px;
}

.wot-rating-stack.testimony[r="r4"] .wot-rating-indicator {
    background-position: 0 -28px;
}

.wot-rating-stack.testimony[r="r5"] .wot-rating-indicator {
    background-position: 0 0;
}

.wot-rating-help {
    display: block;

    margin-bottom: -6px;
    margin-left: 2px;
    margin-right: 0;
    margin-top: 4px;
    width: 154px;
    -webkit-transition: opacity 2.5s linear 2s;
}

.wot-rating-data:not([r]) .wot-rating-help {
    opacity: 0;
}

.wot-rating-helptext,
.wot-rating-helplink {
    height: 16px;
    margin-top: 3px;
    font-size: 11px;
    text-align: left;
    color: #878787;
}

.wot-rating-helptext[r=r1] {
    color: #dd2e31;
    text-align: left;
}

.wot-rating-helptext[r=r2] {
    color: #e25533;
    text-align: left;
}

.wot-rating-helptext[r=r3] {
    color: #de7c1b;
    text-align: center;
}

.wot-rating-helptext[r=r4] {
    color: #5bab28;
    text-align: right;
}

.wot-rating-helptext[r=r5] {
    color: #3b9013;
    text-align: right;
}

#ratings-area[disabled=disabled] .wot-rating-helptext {
    visibility: hidden;
}

.wot-rating-helplink {
    display: none;
}
.wot-rating-helplink.comment {
    color: #3073c5;
    cursor: pointer;
    display: block;
}
#wot-ratingwindow.accessible .wot-rating-helplink.comment {
    color: #333;
    text-decoration: underline;
}

.rating-delete {
    margin-left: 160px;
    margin-top: 20px;
    top: 0;
    position: absolute;
    z-index: 1;
}

.rating-delete-icon {
    position: relative;
    background: url("b/delete-testimony.png") top left no-repeat;
    background-size: auto 18px;
    background-position: -34px 0;
    width: 18px;
    height: 18px;
    margin: -2px 0 0 0;
}

/* Cross inside the "delete" icon */
.delete .rating-delete-icon {
    background-position: 0 0;
}

.rating-delete.delete .rating-delete-icon,
.rating-delete.delete .rating-deletelabel {
    cursor: pointer;
}

.rating-deletelabel {
    font-size: 10px;
    color: #808080;
    margin: 4px auto 0;
    text-align: center;
    height: 1.4em;
    white-space: nowrap;
}

.rating-delete.delete:hover .rating-deletelabel {
    color: red;
}

.rating-delete.delete:hover .rating-delete-icon {
    background-position: -17px 0;
}

/* Reputation Info area */

#reputation-info {
    padding: 0 9px;
}

.rep-info-sections {
    position: relative;
    padding-top: 9px;
}

#wot-rating-header-wot {
    display: block;
    font-size: 14px;
    color: #454545;
    text-align: left;
    margin-top: 8px;
    font-weight: bold;
    margin-left: 11px;
}

#rep-block {
    /*width: 200px;*/
}

/* scorecard */
#wot-scorecard {
    position: absolute;
    right: 104px;
    top: 130px;
    z-index: 3;
}

#wot-scorecard-content {
}

.wot-scorecard-text {
    color: #3073c5;
	font-size: 12px;
    cursor: pointer;
}

.wot-scorecard-text:hover {
    text-decoration: underline;
}

#wot-scorecard-visit {
    margin-bottom: 0px;
    margin-top: 9px;
}
#wot-scorecard-comment-container {
    display: block;
    margin: 0;
    width: 310px;
}
#wot-scorecard-comment {
    display: block;
    margin-bottom: 0px;
    margin-top: 2px;
    padding-left: 1px;
}

.categories-area {
    position: absolute;
    top: 76px;
    left: 11px;
    width: 520px;
    height: 52px;
}

/* Categories view list */

#tr-categories-list {
    margin: 11px 0 0 0;
    padding: 0;
    min-height: 46px;
    line-height: 9px;
    column-count: 2;
    -webkit-column-count: 2;
}

.cat-item {
    font-size: 9pt;
    color: silver;
    list-style: none;
    padding: 0.25em 0;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cat-item .ico {
    width: 1em;
    height: 1em;
    border: 1px solid #C0C0C0;
    background-color: #C0C0C0;
    border-radius: 50%;
    content: "";
    float: left;
    margin: -2px 5px 0 0;
}

.cat-item .ico.c-neutral {
    background-color: #707070;
    background: -webkit-radial-gradient(center, ellipse cover, #9e9c9c 0%, #707070 100%); /* Chrome10+,Safari5.1+ */
    border-color: #7d7d7d;
}

#wot-ratingwindow.accessible .cat-item .ico.c-neutral {
    background-color: #707070;
    background: -webkit-radial-gradient(center, ellipse cover, #9B9898 0%, #7E7E7E 100%);
    border-color: #707070;
}

.cat-item .ico.c-questionable {
    background-color: #ffd100;
    background: -webkit-radial-gradient(center, ellipse cover, #f8df68 0%, #f6cd0e 100%); /* Chrome10+,Safari5.1+ */
    border-color: #f6cd0e;
}

#wot-ratingwindow.accessible .cat-item .ico.c-questionable {
    background-color: #F6CD0E;
    background: -webkit-radial-gradient(center, ellipse cover, #FEE68A 0%, #F5CC33 100%);
    border-color: #F6CD0E;
}

.cat-item .ico.c-negative {
    background-color: #f66d3f;
    background: -webkit-radial-gradient(center, ellipse cover, #fca080 0%, #f77448 100%); /* Chrome10+,Safari5.1+ */
    border-color: #f66d3f;
}

#wot-ratingwindow.accessible .cat-item .ico.c-negative {
    background-color: #1F1F1F;
    background: -webkit-radial-gradient(center, ellipse cover,#939393 0%, #1F1F1F 100%);
    border-color: #1F1F1F;
}

.cat-item .ico.c-positive {
    background-color: #68c800;
    background: -webkit-radial-gradient(center, ellipse cover, #83d561 0%, #6dc14a 100%); /* Chrome10+,Safari5.1+ */
    border-color: #6dc14a;
}

#wot-ratingwindow.accessible .cat-item .ico.c-positive {
    background-color: #B8B8B8;
    background: -webkit-radial-gradient(center, ellipse cover, #FDFDFD 0%, #F7F7F7 100%);
    border-color: #B8B8B8;
}


.c0 {
    font-size: 11px !important;
    color: #a7a7a7 !important;
}

.c0.cat-item .ico {
    width: 4px !important;
    height: 4px !important;
    margin: 1px 8px 0 3px;
}

.c1 {
    font-size: 12px;
    color: #a7a7a7;
}

.c1.cat-item .ico {
    width: 6px;
    height: 6px;
    margin: 0px 7px 0 2px;
}

.c2,
.c3 {
    font-size: 12px;
    color: #646464;
}

.c2.cat-item .ico,
.c3.cat-item .ico {
    width: 8px;
    height: 8px;
    margin: -2px 6px 0 1px;
}

.c4,
.c5 {
    font-size: 12px;
    color: #5c5c5c;
    font-weight: bold;
}

.c4.cat-item .ico,
.c5.cat-item .ico {
    width: 10px;
    height: 10px;
    margin: -2px 5px 0 0;
}

.cat-cs-separator {
    padding: 2px;
    font-size: 0px;
    list-style: none;
    margin-top: 6px;
}

/*.cat-cs {*/
    /*-webkit-transform: scale(0.9);*/
    /*margin-left: -1.4em;*/
/*}*/

/* fix for scaled CS categories */
/*.cat-cs.c1 {*/
    /*margin-left: -1.65em;*/
/*}*/

/* Bottom area */

/* user */
.wot-user {
    display: none;
    width: 316px;
}

/* hidden by default, shown in some modes only */
#user-communication {
    display: none;
}

.user-comm-activity {
    margin: 77px 25px 0;
    position: relative;
    display: none;
}


.unrated .user-comm-activity {
    display: block;
}

.wot-user-header {
    /* "your activity score" */
    color: #8f8f8f;
    display: inline;
    font-size: 11px;
    height: 14px;
    line-height: 11px;
    margin-right: 0px;
}

#user-activityscore {
    color: #838383;
    display: inline;
    font-size: 11px;
    margin-left: 1px;
    font-weight: bold;
}

#user-activityscore:after {
    font-weight: normal;
    content: ".";
}

.wot-user-notice {
    color: #8F8F8F;
    font-size: 8pt;
    display: inline;
}

.user-level {
    font-weight: bold;
}

.wot-user-text {
    /* Link to the user's profile */
    color: #8f8f8f;
    display: none;
    font-size: 11px;
    height: 23px;
    line-height: 11px;
}

.wot-user-text[url^="http"]:hover {
    color: #3073c5;
    cursor: pointer;
}

/*.wot-user-text.accessible[url^="http"]:hover {*/
    /*color: #333;*/
    /*text-decoration: underline;*/
/*}*/

/* message */
#wot-message {
    display: none;
    height: auto;
    /*margin-bottom: 0.2em;*/
    margin-top: 0.2em;
    background-color: white;
}

#wot-message:before {
    position: absolute;
    height: 0px;
    border-top: 1px solid #D9D9D9;
    content: "";
    width: 100%;
    margin-top: 0px;
    margin-left: -19px;
}

#wot-message-text {
    color: #989898;
    display: block;
    font-size: 11px;
    height: auto;
    line-height: 13px;
    overflow: hidden;
    padding: 8px 20px 8px;
    text-align: center;
    white-space: normal;
}
#wot-message-text[url^="http"]:hover,
#wot-message[status="important"] #wot-message-text[url^="http"]:hover,
#wot-message[status="critical"] #wot-message-text[url^="http"]:hover {
    color: #3073c5;
    cursor: pointer;
}
/*#wot-message-text.accessible[url^="http"]:hover,*/
/*#wot-message[status="important"] #wot-message-text.accessible[url^="http"]:hover,*/
/*#wot-message[status="critical"] #wot-message-text.accessible[url^="http"]:hover {*/
    /*color: #333;*/
/*}*/
#wot-message[status="important"] {
    border-color: #ea8b2b;
}
#wot-message[status="critical"] {
    border-color: #d81f27;
}
#wot-message[status="important"] #wot-message-text {
    color: #ea8b2b;
}
#wot-message[status="critical"] #wot-message-text {
    color: #d81f27;
}
/* partner */
#wot-partner {
    display: none;
    height: 32px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 12px;
    margin-top: 4px;
    padding: 0;
    text-align: left;
    width: 298px;
}
/*#wot-partner[partner="name"] {
	display: block;
	background: url("partner/name.png") center right no-repeat;
}*/
#wot-partner-text {
    color: #333;
    display: block;
    font-size: 11px;
    height: 32px;
    margin: 0;
    padding-top: 7px;
    width: 148px;
}

/* Hidden by default */
#rate-buttons,
#ok-button {
    position: absolute;
    bottom: 0.5em;
    width: 529px;
    height: 30px;
    display: none;
}

.buttons-wrapper {
    position: relative;
}

.right-side {
    position: absolute;
    right: 0;
}

.left-side {
    position: absolute;
    left: 8px;
    margin-top: 0.2em;
}

.rw-button {
    display: inline;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-top-color: #DFDFDF;
    border-right-color: #C2C2C2;
    border-left-color: #D1CECE;
    border-bottom-color: #AEAEAE;
    padding: 0.3em 1.5em;
    margin: 0.2em 0.5em;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #585858;
    background-image: -webkit-linear-gradient(top, #FFF 0%, #e7e5e5 100%);
    box-shadow: 1px 1px 5px #D2D2D2;
    text-shadow: 1px 1px rgba(255,255,255,0.75);
    cursor: pointer;
}

.rw-button:not(.disabled):active {
    box-shadow: 1px 1px 1px #d2d2d2 inset;
    text-shadow: 0px 0px #DDD;
}

.rw-button:not(.disabled):hover {
    background-image: -webkit-linear-gradient(top, #FFF 0%,#dadada 83%, #f3f1f1 100%);
    /*color: #6aac43;*/
}

.rw-button.disabled {
    color: #A5A5A5;
    text-shadow: none;
    cursor: default;
}

#btn-delete {
    margin-left: 0;
    cursor: pointer;
}

.btn-delete_icon {
    height: 18px;
    width: 18px;
    background: url("b/delete-myrating.png") top left no-repeat;
    background-size: auto 18px;
    float: left;
    margin-right: 4px;
}

#btn-delete:hover .btn-delete_icon {
    background-position: -19px 0;
}

.btn-delete_label {
    font-size: 12px;
    white-space: nowrap;
    padding: 3px;
    font-weight: bold;
    color: #c33035;
    display: none;
}

#btn-delete:hover .btn-delete_label {
    display: block;
}

.btn-submit {
    padding-left: 2em;
    padding-right: 2em;
    text-transform: capitalize;
}

.rw-buttons-expander {
    display: inline;
    float: left;
    width: 38%;
}


/* Categorues selector style */

#categories-selection-area {
    display: none;
    padding: 0 20px;
    position: relative;
    min-height: 200px;
}

.category-description {
    display: none;
    background-color: #e6f0f9;
    height: 22px;
    width: 500px;
    margin-top: -1px;
    font-size: 11px;
    padding: 3px 5px 5px;
    border-radius: 3px;
    color: #5b5d5e;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #D4E5FC;
}

.group-title {
    font-size: 12px;
    cursor: pointer;
}

.category-title,
.comment-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    height: 26px;
    color: #454545;
    /*margin-left: 10px;*/
}

.category-selector {
    height: 210px;  /* to occupy space and give other elements proper positioning */
    position: absolute;
    margin-top: -7px;
}

.category-selector .dropdown-menu {
    min-height: 120px;
    display: block;
    float: left;
    padding: 0;
    list-style: none;
    margin-top: 9px;
}

.category-selector li {
    display: block;
    margin: 1px 0;
    padding: 11px 0 11px 16px;
    width: 145px;
    z-index: 1000;
    list-style: none;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%); /* W3C */
}

.category-selector li .group-title {
    display: block;
    clear: both;
    line-height: 10px;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
}

.category-selector .popover {
    position: absolute;
    z-index: 990;
    display: none;
    min-height: 165px;
    max-height: 190px;
    width: 348px;
    padding: 2px 0;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.category-selector .category {
    line-height: 13px;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 8px;
    position: relative;
    margin: 1px 4px;
}

.category-selector .shortlist .category {
    line-height: 15px;
}

.category-selector .category:hover {
    background: #ebebeb;
    cursor: pointer;
}

.category-selector .category.invisible:not([voted]) {
    /* voted and identified categories should be always visible in both short/full list modes */
    display: none;
}

.category-selector .cat-name {
}

/* If category is identified by WOT */
.category-selector .identified .cat-name {
    font-weight: bold;
    color: #747474;
}

.category-selector .cat-vote {
    position: absolute;
    right: 0;
    top: 0;
}

.category-selector .cat-vote-left,
.category-selector .cat-vote-right {
    display: inline;
    float: left;
    margin: 2px 0px 0 0;
    padding: 1px 5px 0;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
}

.category-selector .cat-vote-left:after {
    padding-left: 3px;
    position: absolute;
    color: silver;
    content: "|";
}

/* when yes/no is hovered, hide the vertical pipe-separator */
.category-selector .cat-vote:hover .cat-vote-left:after,
.category-selector .category[voted] .cat-vote-left:after {
    content: "";
}

.category-selector .cat-vote-left:hover,
.category-selector .cat-vote-right:hover {
    /*width: 23px;*/
    /*height: 18px;*/
    border: 1px solid #ccc;
    background-color: white;
    color: #319de7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 4px;
}

.category-selector .category[voted="1"] .cat-vote-left,
.category-selector .category[voted="-1"] .cat-vote-right {
    border: 1px solid #c7ddef;
    background: #eaf2fa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 4px;
}

.category-selector .cat-vote-del {
    display: inline;
    float: left;
    visibility: hidden;
    height: 20px;
}

.category-selector .category[voted] .cat-vote-del {
    visibility: visible;
}

.category-selector .delete-icon {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #f0efef;
    margin: 3px 3px 0 3px;
    cursor: pointer;
    border: 1px solid #dadada;
    border-radius: 50%;
}

/* Cross inside the "delete" icon */
.category-selector .delete-icon:after,
.category-selector .delete-icon:before {
    content: "";
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5px;
    width: 2px;
    height: 10px;
    margin-top: -5px;
    background: #a5a5a5;
}

.category-selector .delete-icon:before {
    -webkit-transform: rotate(45deg);
}

.category-selector .delete-icon:after {
    -webkit-transform: rotate(135deg);
}


.category-selector .category-breakline {
    height: 1px;
    width: 100%;
    background: #E1E0E0;
    margin: 1px auto;
}

.category-selector li:first-of-type {
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
    background-clip: padding-box;
}

.category-selector li:last-of-type {
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.category-selector .maintainHover {
    color: #525252;
    font-weight: bold;
    background: #ffffff;
}

input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px;
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:13px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

.css-label { background-image:url(b/checkbox.png); }

.cat-full-list {
    margin: 1em 0.5em;
}

.cat-full-list label {
    color: #585858;
}

#chk-full-list {

}

/* The commenting feature */

#commenting-area {
    display: none;  /* is shown from JS when needed */
    margin: auto 19px;
    min-height: 225px;
}

.comment-title {
    /* see the initial values at the beginning of this file */
    padding: 3px 0 4px;
}

.user-comment-wrapper {
    float: right;
}

#user-comment {
    height: 126px;
    width: 350px;
    /*margin-right: 10px;*/
    padding: 8px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    font-size: 13px;
    font-family: Arial;
    overflow-x: hidden;
    overflow-y: auto;
    outline-color: #DDF6FF;
}

#user-comment.warning {
    width: 286px;
}

#user-comment[disabled] {
    background-color: #F7F7F7;
    color: #999;
}

#comment-side-hint {
    padding: 10px 0 0 0;
    float: left;
    width: 130px;
}

#comment-side-hint p {
    /* hints pieces */
    margin: 0 0 8px;
    font-size: 11px;
    color: #666;
}

#comment-register,
#comment-captcha {
    display: none;
    padding: 10px;
    float: left;
    width: 180px;
    font-size: 12px;
}

#comment-register-text,
#comment-captcha-text {
    color: #e75159;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
}

#comment-register-link,
#comment-captcha-link {
    color: #3073c5;
    font-size: 12px;
    cursor: pointer;
}

#comment-register-link:hover,
#comment-captcha-link:hover {
    text-decoration: underline;
}

#comment-bottom-hint {
    font-size: 14px;
    text-align: right;
    position: absolute;
    bottom: 55px;
    right: 50px;
    background-color: #FC4B56;
    padding: 3px 10px;
    font-weight: normal;
    border-radius: 8px;
    color: #FFF;
    display: none;
}

#comment-bottom-hint.error {
    display: block;
}

#thanks-area {
    display: none;
    min-height: 194px;
}

.thanks-text {
    text-align: center;
    font-size: 18px;
    margin-top: 2em;
}

.thanks-activityscore {
    text-align: center;
    font-size: 13px;
    margin-top: 1em;
    color: #808080;
}

.thanks-activityscore-number {
    font-weight: bold;
    color: #808080;
}

.thanks-ratemore {
    text-align: center;
    font-size: 13px;
    margin-top: 0.5em;
    color: #808080;
}
