body {
    opacity: 1;
    background: white;
    font-family: "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.logo {
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url("/skin/b/logo.png");
    background-repeat: no-repeat;
    background-size: 70%;
    width: 70px;
    height: 30px;
}

.close-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 14px;
    width: 14px;
    background-color: #FFF;
    margin: 0 0 0 1px;
    border-radius: 3px;
    border: 1px solid #B9B9B9;
    cursor: pointer;
}

.close-icon:hover {
    background-color: rgba(255, 97, 84, 0.77);
    border: 1px solid rgba(255, 97, 84, 0.77);
}

/* Cross inside the "close" icon */
.close-icon:after,
.close-icon:before {
    content: "";
    position: absolute;
    top: 50%;
    z-index: 4;
    left: 6px;
    width: 2px;
    height: 12px;
    margin-top: -6px;
    background: #A2A2A2;
}

.close-icon:hover:after,
.close-icon:hover::before {
    background: #ffffff;
}

.close-icon:before {
    -webkit-transform: rotate(45deg);
}

.close-icon:after {
    -webkit-transform: rotate(135deg);
}


.title-hint {
    position: absolute;
    right: 30px;
    top: 10px;
    color: silver;
    font-variant: small-caps;
}

.title {
    margin: 36px 10px 0;
    text-align: center;
}

.content {
    margin: 12px 10px 0;
}

.optout {
    color: silver;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.optout:hover {
    color: rgba(255, 97, 84, 0.77);
    text-decoration: underline;
}

#adlinks {
    list-style-type: none;
    padding: 0px 5px 0 20px;
}

.adlink-item,
.adlink-item a {
    font-size: 15px;
    line-height: 1.7em;
    color: #0000EB;
    text-decoration: none;
}

.adlink-item a:hover {
    text-decoration: underline;
}
